mixin reviewCard(review)
    .reviews__card
        .reviews__avatar
            - const photo = review && review.user && review.user.photo ? review.user.photo : 'default.jpg';
            - const name = review && review.user && review.user.name ? review.user.name : 'User';
            - const text = review && review.review ? review.review : 'No review text provided.';
            img.reviews__avatar-img(src="/img/users/" + photo, alt=name)
        h6.reviews__user= name
        p.reviews__text= text
        .reviews__rating
            each star in [1, 2, 3, 4, 5]
                - const starClass = review && review.rating >= star ? 'active' : 'inactive';
                svg.reviews__star(class='reviews__star--' + starClass)
                    use(xlink:href='/img/icons.svg#icon-star')
